@model List<ElectronicPatientCard.Models.Details>

 @{
    ViewData["Title"] = "Resource versions";
}

<div class="text-center">
    <h1 class="display-4">Resource Versions</h1>
</div>

@using (Html.BeginForm())
{
    
}

<table class="table">

    <tr>
        <td>
            <strong>
                Date of modification
            </strong>
        </td>
        <td>
            <strong>
                Date of observation
            </strong>
        </td>
        <td>
            <strong>
                Name
            </strong>
        </td>
        <td>
            <strong>
                version
            </strong>
        </td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.modDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.version)
            </td>

        </tr>
    }

</table>